body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 380px;
    max-width: 2000px;
    margin: 0 auto;
}   

*
{
    font-size: 16px;
}

ul, li, a
{
    list-style-type:none;
    text-decoration: none;
}

li:hover
{
    
    cursor: pointer;
}




a,
button {
    transition: all .3s ease-in-out;
    outline: none!important;
}

a:hover {
    
        text-decoration: underline;
        cursor: pointer;
  
    
}



.bloc {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.bloc .container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.bloc-lg {
    padding: 100px 50px;
}

.center-block
{
    margin: 0 auto;
    display: flex;
    
}

.bloc-sm {
    padding: 20px 50px;
}



.bg-repeat {
    background: repeat;
}


.bloc-bg-texture::before {
    content: "";
    background-size: 2px 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.texture-paper::before {
    background: url("img/texture-paper.webp");
    background-size: 280px 280px;
}

.img-nav
{
    height: 60px;
}


.d-bloc {
    color: rgba(255, 255, 255, .7);
}



.d-bloc .a-btn,
.d-bloc ,
.d-bloc .-brand,
.d-bloc a .icon-sm,
.d-bloc a .icon-md,
.d-bloc a .icon-lg,
.d-bloc a .icon-xl,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
    color: rgba(255, 255, 255, .6);
}

.d-bloc .a-btn:hover,
.d-bloc ,
.d-bloc .-brand:hover,
.d-bloc a:hover .icon-sm,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-xl,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover {
    color: rgba(255, 255, 255, 1);
}


.d-bloc .panel,
.l-bloc {
    color: rgba(0, 0, 0, .5);
}

.text-comment
{
    margin-top: 50px;
}

.text-center-main
{
    text-align: center;
   
    margin-top: 50px;
  
    margin: 0 auto;

    max-width: 600px;
    display: flex;
   
    justify-content: center;
    
   font-size: 22px;
  
}

.voffset-lg {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}


#bloc-1-hero h1 {
    font-size: 32px;
}









.nav > li {
   
    
    font-size: 16px;
}



.mg-md {
    margin-top: 10px;
    margin-bottom: 20px;
}

.mg-lg {
    margin-top: 10px;
    margin-bottom: 40px;
}

.btn {
    margin: 0 5px 5px 0;
}


.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3);
}



.btn-rd {
    border-radius: 40px;
}

.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.icon-md {
    font-size: 30px!important;
}

.icon-lg {
    font-size: 60px!important;
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}



h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
.btn,
a {
    font-family: "helvetica";
    font-weight: 400;
    color: #575757;
}

.container {
    max-width: 1000px;
}

.hero-bloc-text {
    font-size: 38px;
    color: black;
}


.tight-width-whitespace {
    max-width: 600px;
    margin: auto auto auto auto;
}



.cta-hero {
    margin-top: 22px;
    color: black!important;
    text-transform: uppercase;
    padding: 12px 28px 12px 28px;
    font-size: 16px;
    font-weight: 700;
}

.social {
    max-width: 400px;
    margin: auto auto auto auto;
}

h2 {
    font-size: 22px;
    line-height: 1.4em;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #333333;
}

.med-width-whitespace {
    max-width: 800px;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 0px #000000;
}

h1 {
    color: #333333;
    
}


.icons {
    margin-bottom: 14px;
    margin-top: 24px;
}

.white {
    color: #FFFFFF;
}

.black
{
    color: black;
}



.text-img
{}

.portfolio-thumb {
    margin-bottom: 24px;
    width: 100%
}

.portfolio-row {
    margin-bottom: 44px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.avatar {
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
}

.black-background {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px 40px 40px 40px;
}

.bold-link {
    font-weight: 900;
    text-decoration: underline;
}

.bgc-white {
    background-color: #FFFFFF;
}

.bgc-dark-slate-blue {
    background-color: #364577;
}

p{
    color: black;
}

a{
    color: black;
}


.bgc-atomic-tangerine {
    background-color: #F3976C;
}

.tc-white {
    color: white;
}

.tc-black
{
    color: black;
}

.btn-atomic-tangerine {
    background: #F3976C;
   
}

.btn-atomic-tangerine:hover
{
filter: brightness(90%);

}



.ltc-white {
    color: #FFFFFF;
}


.titre__social
{
    display: flex;
    
    flex-flow: column;
    justify-content: center;
    text-align: center; 
    color: black;
    font-weight: 600;
   
}

.ul__social
{   display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    
    padding: 0;
    margin-top: 15px;
}

.icon-dark-slate-blue {
    color: #364577;
    border-color: #788ac5;
}

.bg-dots-bg {
    background-image: url("img/dots-bg.webp");
}

.bg-lines-h2-bg {
    background-image: url("img/lines-h2-bg.webp");
}

.bg-banniere {
    background-image: url("img/la-chouette-agence-banniere.webp");
}

.bg-presentation {
    background-image: url("img/image-de-presentation.webp");
}

.col-sm-contact
    {
        width: 300px;
    }
.form-contact
{
    width: 300px;
}

.row-contact
{
    display: flex;
   
    flex-wrap: wrap;
    
}

.col-sm-contact{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer-contact
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.text-center-italic
{    max-width: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
 font-style: italic;
    margin: 0 auto;
   font-size: 22px;
   

}



.nav {
    height: 100px;
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: space-around;

    align-items: center;
  }


  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: black;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }

  .nav-links{
      font-weight: 600;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    text-decoration: none;
    color:black;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
  }
  
  .nav > .nav-links > a:hover {
    text-decoration: underline;
  }
  
  .nav > #nav-check {
    display: none;
  }

.b-parallax {
    background-attachment: inherit;
}

@media (min-width:600px){.col-sm-12,.col-sm-3,.col-sm-4,.col-sm-6{float:left}.col-sm-12{width:100%}.col-sm-6{width:50%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.ul__social{display:flex;justify-content:center;flex-flow:wrap;text-align:center;margin-top:15px}.li__social{margin:10px}.b-parallax{background-attachment:fixed}.bgc-atomic-tangerine-b{margin-top: 5px;}}

@media (max-width:600px) {
    .nav {
        height: 60px;
        width: 100%;
        background-color: white;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
      }


      .nav > .nav-links > a {
        display: inline-block;
        text-decoration: none;
        color:black;
        font-size: 16px;
      }

      .nav > .nav-links > a:hover {
        background-color: #F3976C;
        text-decoration: underline;
      }

    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #F3976C;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid black;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: white;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      display: flex;
    flex-flow: column;
    text-align: center;
    z-index: 1;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      padding: 13px;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: 100px;
      overflow-y: auto;
    }
  }















